{% extends 'base.html' %}

{% block content %}
    <h3>Blogs</h3>
    {% for blog in blogs %}
        <a href="/posts/{{ blog.id }}">{{ blog.name }}</a><br>
    {% endfor %}
    <form method="POST" action="/create_blog">
        {% csrf_token %}
        <input name="name">
        <button type="submit">Create</button>
    </form>
{% endblock %}