{% extends 'base.html' %}

{% block content %}
    <center>
        <form method="POST">
            {% csrf_token %}
            <input name="username" placeholder="username"><br>
            <input type="password" name="password" placeholder="password"><br>
            <button type="submit">Войти</button><a href="/register">Регистрация</a>
        </form>
    </center>
{% endblock %}