{% extends 'base.html' %}

{% block content %}
    <h3>Posts</h3>
    {% for post in posts %}
        <b>{{ post.creator.username }}</b> {{ post.created_dt }}:<br>
        {{ post.text }}
        <hr>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        <textarea name="text"></textarea>
        <button type="submit">Create</button>
    </form>
{% endblock %}